body {
    zoom: 150%;
    background-color: aqua;
    text-align: center;
}
.Button1 {
    background-color: #4CAF50; /* Makes buttons look kool. Remove this if you like the default buttons (but who does?) */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.Button1:hover {
    background-color: #4CAF50; /* Optional, changes color when you hover over the button */
    color: white;
}